* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html, body {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.header {
  position: fixed;
  width: 100%;
}

.header:before {
  background: #009eda;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: 100;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}

.header__body li {
  list-style: none;
  margin-right: 15px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__link {
  color: white;
}

.header__link:hover {
  color: black;
}

.header__menu {
  z-index: 110;
}

.content {
  padding-top: 100px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 780px) {
  body.lock {
    overflow: hidden;
  }
  .header__hamburger {
    width: 32px;
    height: 32px;
    display: block;
    background: transparent;
    border: transparent;
    z-index: 1000;
  }
  .header__hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background: white;
    position: relative;
    -webkit-box-shadow: 0 2px 10px #00000030;
            box-shadow: 0 2px 10px #00000030;
  }
  .header__hamburger span + span {
    margin-top: 7px;
  }
  .header__hamburger span:nth-child(1) {
    -webkit-animation: ease 0.5s top-back forwards;
            animation: ease 0.5s top-back forwards;
  }
  .header__hamburger span:nth-child(1) {
    -webkit-animation: ease 0.5s middle-back forwards;
            animation: ease 0.5s middle-back forwards;
  }
  .header__hamburger span:nth-child(3) {
    -webkit-animation: ease 0.5s bottom-back forwards;
            animation: ease 0.5s bottom-back forwards;
  }
  .header__menu {
    position: fixed;
    height: 100%;
    width: 100%;
    left: -100%;
    top: 0;
    background: #009eda;
    -webkit-transition: left 0.5s ease;
    transition: left 0.5s ease;
    overflow: auto;
  }
  .header__list {
    display: block;
    padding-left: 15px;
    padding-top: 70px;
  }
  .header__list li {
    margin-bottom: 15px;
  }
  .header__list li a {
    font-size: 30px;
  }
  .active .header__menu {
    left: 0;
  }
  .active .header__hamburger span:nth-child(1) {
    -webkit-animation: ease 0.5s top forwards;
            animation: ease 0.5s top forwards;
  }
  .active .header__hamburger span:nth-child(2) {
    -webkit-animation: ease 0.5s middle forwards;
            animation: ease 0.5s middle forwards;
  }
  .active .header__hamburger span:nth-child(3) {
    -webkit-animation: ease 0.5s bottom forwards;
            animation: ease 0.5s bottom forwards;
  }
  .content {
    padding-top: 85px;
  }
}

@-webkit-keyframes top {
  0% {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    top: 10px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    top: 10px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes top {
  0% {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    top: 10px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    top: 10px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes top-back {
  0% {
    top: 10px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    top: 10px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes top-back {
  0% {
    top: 10px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    top: 10px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes middle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes middle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes middle-back {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes middle-back {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes bottom {
  0% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    bottom: 10px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 10px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    bottom: 10px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 10px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@-webkit-keyframes bottom-back {
  0% {
    bottom: 10px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  50% {
    bottom: 10px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes bottom-back {
  0% {
    bottom: 10px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  50% {
    bottom: 10px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    bottom: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
/*# sourceMappingURL=styles.css.map */