* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
html, body {
    height: 100%;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

.header {
    position: fixed;
    width: 100%;

    &:before {
        background: #009eda;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        z-index: 100;
    }

    &__body {
        position: relative;
        display: flex;
        align-items: center;
        height: 70px;

        li {
            list-style: none;
            margin-right: 15px;
        }
    }
    &__list {
        display: flex;
    }
    &__link {
        color: white;
        &:hover {
            color: black;
        }
    }

    &__menu {
        z-index: 110;
    }
}
.content {
    padding-top: 100px;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

@media (max-width: 780px) {
    body.lock {
        overflow: hidden;
    }
    .header__hamburger {
        width: 32px;
        height: 32px;
        display: block;
        background: transparent;
        border: transparent;
        z-index: 1000;

        span {
            display: block;
            width: 100%;
            height: 3px;
            background: white;
            position: relative;
            box-shadow: 0 2px 10px #00000030;
        }
        span + span {
            margin-top: 7px;
        }

        span:nth-child(1) {
            animation: ease 0.5s top-back forwards;
        }
        span:nth-child(1) {
            animation: ease 0.5s middle-back forwards;
        }
        span:nth-child(3) {
            animation: ease 0.5s bottom-back forwards;
        }
    }
    .header {
        &__menu {
            position: fixed;
            height: 100%;
            width: 100%;
            left: -100%;
            top: 0;
            background: #009eda;
            transition: left 0.5s ease;
            overflow: auto;
        }
        &__list {
            display: block;
            padding-left: 15px;
            padding-top: 70px;
            li {
                margin-bottom: 15px;
                a {
                    font-size: 30px;
                }
            }
        }
    }
    .active {
        .header__menu {
            left: 0;
        }

        .header__hamburger {
            span:nth-child(1) {
                animation: ease 0.5s top forwards;
            }
            span:nth-child(2) {
                animation: ease 0.5s middle forwards;
            }
            span:nth-child(3) {
                animation: ease 0.5s bottom forwards;
            }
        }
    }
    .content {
        padding-top: 85px;
    }
}

$top: 10px;
@keyframes top {
    0% {
        top: 0;
        transform: rotate(0);
    }
    50% {
        top: $top;
        transform: rotate(0);
    }
    100% {
        top: $top;
        transform: rotate(45deg);
    }
}
@keyframes top-back {
    0% {
        top: $top;
        transform: rotate(45deg);
    }
    50% {
        top: $top;
        transform: rotate(0);
    }
    100% {
        top: 0;
        transform: rotate(0);
    }
}

@keyframes middle {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes middle-back {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes bottom {
    0% {
        bottom: 0;
        transform: rotate(0);
    }
    50% {
        bottom: $top;
        transform: rotate(0);
    }
    100% {
        bottom: $top;
        transform: rotate(135deg);
    }
}
@keyframes bottom-back {
    0% {
        bottom: $top;
        transform: rotate(135deg);
    }
    50% {
        bottom: $top;
        transform: rotate(0);
    }
    100% {
        bottom: 0;
        transform: rotate(0);
    }
}